<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oklib.demo">

    <application
        android:name=".AppOkLib"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/oklibAppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".common_components.refresh.RefreshActivity"/>
        <activity android:name="com.oklib.demo.common_components.GlideImageViewActivity"/>
        <activity android:name="com.oklib.demo.integration_framework.PermissionActivity" />
        <activity android:name="com.oklib.demo.integration_framework.CameraActivity" />
        <activity android:name="com.oklib.demo.commo_tools.LoggerActivity" />
        <activity android:name="com.oklib.demo.commo_tools.ToastActivity" />
        <activity android:name="com.oklib.demo.common_components.ToolbarActivity" />
        <activity android:name="com.oklib.demo.common_components.ShapeSelectActivity" />
        <activity android:name=".common_components.TextViewActivity" />
        <activity android:name="com.oklib.demo.common_components.TextViewActivity" />
        <activity android:name="com.oklib.demo.view.SuperTextViewActivity" />
        <activity android:name="com.oklib.demo.SupportExceptionalActivity" />
        <activity android:name="com.oklib.demo.SupportingDetailsActivity" />

        <!--7.0适配临时权限-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.oklib.demo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>