<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="hwc.loadsir">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".target.NormalActivity"/>
        <activity android:name=".target.ConvertorActivity"/>
        <activity android:name=".target.FragmentSingleActivity"/>
        <activity android:name=".target.ViewTargetActivity"/>
        <activity android:name=".target.MultiFragmentWithViewPagerActivity"/>
        <activity android:name=".target.MultiFragmentActivity"/>
        <activity android:name=".target.PlaceholderActivity"/>
        <activity android:name=".target.AnimateActivity"/>
        <activity android:name=".target.KeepTitleActivity"/>
        <activity android:name=".LoadSirEntryActivity" />
    </application>

</manifest>
